BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
NamespaceIndentation: All
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true
  BeforeLambdaBody: false
LambdaBodyIndentation: OuterScope
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
SortIncludes: false
