BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeCatch: true
  BeforeLambdaBody: false
LambdaBodyIndentation: OuterScope
AllowShortLambdasOnASingleLine: Empty
